:root {
  --light-purple: #BFA0EB;
  --medium-light-purple: #9754CB;
  --medium-dark-purple: #6237A0;
  --dark-purple: #28104E;
}

.navigation {
  margin: 0;
  padding: 0;
  top: 0;
  position: sticky;
  display: flex;
  flex-direction: row;
  background-color: white;
  min-width: 100vw;
  border-bottom: 1px solid black;
  z-index: 3;
}

#left-bar {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  width: 200px;
}

#right-bar {
  list-style-type: none;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 10px;
  overflow: hidden;
  width: 605px;
  margin-right: 0;
  padding-left: 0;
}

#selected {
  color: var(--medium-dark-purple);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.logo {
  padding-top: 6px;
  padding-bottom: 2px;
  float: left;
}

.logo:hover img {
    animation-name: spin;
    animation-duration: 5s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

.navigation .links {
  float: left;
}

ul li .links {
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 18px;
}

li .option:hover {
  color: white;
  background-color: var(--medium-dark-purple);
}

#waffle {
  margin-left: auto;
  margin-right: 20px;
  margin-top: 5px;
  display: none;
  cursor: pointer;
  background-color: var(--medium-light-purple);
  height: 35px;
  aspect-ratio: 1/1;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--light-purple);
  align-items: center;
  justify-content: center;
}

#waffle p {
  margin: 0;
  padding: 0;
  font-size: 40px;
  text-align: center;
  color: var(--dark-purple);
}

#drop-right-bar {
  display: none;
  position: absolute;
  list-style-type: none;
  background-color: white;
  padding: 0;
  margin: 0;
  margin-top: 50px;
  width: 100vw;
  z-index: 4;
}

@media (max-width: 870px) {
  #right-bar {
    display: none;
  }

  #waffle {
    display: flex;
  }
}

@media (min-width: 870px) {
  #drop-right-bar {
    display: none !important;
  }
}

#footer {
  display: flex;
  align-items: center;
  position: absolute;
  height: 50px;
  bottom: 0;
  background-color: white;
  width: 100%;
  justify-content: right;
  z-index: 3;
}

#footer a {
  color: black;
  text-decoration: none;
}

#contact {
  margin-right: 30px;
}